body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-content: center; */
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  display: flex;
  /* box-sizing: border-box;
  padding: 15px; */
}

.titletxt {
  margin: auto 15px;
}

.content {
  display: flex;
  flex 1;
  height: 88vh;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 48px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  justify-content: flex-end;
  display: flex;
}

.footertxt {
  margin: auto;
}

.sidebar {
  min-width: 300px;
  background: royalblue;
  box-sizing: border-box;
  height: 100%;
  flex: auto;
  padding: 16px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  flex: 1 1 400px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
}

li {
  list-style-type: none;
  line-height: 4em;
}

a {
  text-decoration: none;
  color: white;
  font-size: 24px;

}