img {
    height: 100px;
    width: 100px;
    align-self: center;
}

.title {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 32px;
    text-align: center;
}

.plants {
    padding: 10px;
    display: flex;
    gap: 52px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-size: 16px;
    justify-content:center;
}

.plant1 {
    width: 200px;
    display: flex;
    flex-direction:column;
}


.plant2 {
    width: 200px;
    display: flex;
    flex-direction:column;
}


.plant3 {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.plant4 {
    width: 200px;
    display: flex;
    flex-direction: column;
}